<<<<<<< HEAD
<div class="backdrop">
	<div id="main" data-current-user="<%= current_user.id if current_user %>">
	</div>
</div>
<script charset="utf-8">
	project.initialize();
</script>
=======
<div class="backdrop">
	<div id="main" data-current-user="<%= current_user.id if current_user %>">
	</div>
</div>
<script charset="utf-8">
	project.initialize();
</script>
>>>>>>> 9486b4860f23603e208181d96ccaf3a972806474
<script type="text/javascript"></script>