<<<<<<< HEAD
<h3>
	<%= project.currentUserId ? "Your Id is " + project.currentUserId : "Please Log in" %>
=======
<h3>
	<%= project.currentUserId ? "Your Id is " + project.currentUserId : "Please Log in" %>
>>>>>>> 9486b4860f23603e208181d96ccaf3a972806474
</h3>